<div class="sidebar-container">
    <div class="sidebar-logo">
      SOFA
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Management</li>
      <li>
        <a href="#">
          Dashboard
        </a>
      </li>
      <li>
        <a href="#">
          User
        </a>
      </li>
      <li>
        <a href="#">
          Post
        </a>
      </li>
      <li>
        <a href="#">
          Report
        </a>
      </li>
      <li class="header">Profile</li>
      <li>
        <a href="#">
          Settings
        </a>
      </li>
      <li>
        <a href="#">
          Information
        </a>
      </li>
    </ul>
  </div>
  <div class="user-name">
    <h3>Welcome {{username}}!</h3>
  </div>

