Django~=3.1.7
djangorestframework~=3.12.2
multipledispatch~=0.6.0
pyodbc~=4.0.30
pip~=21.0.1
configparser~=3.8.1
wheel~=0.35.1
pytz~=2020.4
mysqlclient~=2.0.1
psycopg2~=2.8.6
Jinja2~=2.11.3
numpy~=1.18.5
asgiref~=3.3.1
sqlparse~=0.4.1
setuptools~=49.2.1
future~=0.18.2
requests~=2.24.0
Markdown~=3.3.3
six~=1.15.0
sklearn~=0.0
scikit-learn~=0.24.1