
SOFA API/.vs/SOFA API/DesignTimeBuild/.dtbcache.v2
SOFA API/.vs/SOFA API/v16/.suo
SOFA API/SOFA API/.config/dotnet-tools.json
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/appsettings.Development.json
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/appsettings.json
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/SOFA API.deps.json
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/SOFA API.dll
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/SOFA API.exe
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/SOFA API.pdb
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/SOFA API.runtimeconfig.dev.json
SOFA API/SOFA API/bin/Debug/netcoreapp3.1/SOFA API.runtimeconfig.json
SOFA API/SOFA API/bin/Release/netcoreapp3.1/appsettings.Development.json
SOFA API/SOFA API/bin/Release/netcoreapp3.1/appsettings.json
SOFA API/SOFA API/bin/Release/netcoreapp3.1/SOFA API.deps.json
SOFA API/SOFA API/bin/Release/netcoreapp3.1/SOFA API.dll
SOFA API/SOFA API/bin/Release/netcoreapp3.1/SOFA API.exe
SOFA API/SOFA API/bin/Release/netcoreapp3.1/SOFA API.pdb
SOFA API/SOFA API/bin/Release/netcoreapp3.1/SOFA API.runtimeconfig.dev.json
SOFA API/SOFA API/bin/Release/netcoreapp3.1/SOFA API.runtimeconfig.json
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/apphost.exe
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.AssemblyInfo.cs
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.AssemblyInfoInputs.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.assets.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.csproj.CoreCompileInputs.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.csproj.FileListAbsolute.txt
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.csprojAssemblyReference.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.dll
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.genruntimeconfig.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.MvcApplicationPartsAssemblyInfo.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.pdb
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.RazorTargetAssemblyInfo.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/staticwebassets/SOFA API.StaticWebAssets.Manifest.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/staticwebassets/SOFA API.StaticWebAssets.xml
SOFA API/SOFA API/obj/project.assets.json
SOFA API/SOFA API/obj/project.nuget.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SOFA API/SOFA API/obj/Release/netcoreapp3.1/apphost.exe
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PublishOutputs.7ee2869d6a.txt
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.Development.json
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/appsettings.json
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/SOFA API.deps.json
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/SOFA API.dll
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/SOFA API.exe
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/SOFA API.pdb
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/SOFA API.runtimeconfig.json
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/Out/web.config
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/SOFA API.Parameters.xml
SOFA API/SOFA API/obj/Release/netcoreapp3.1/PubTmp/SOFA API.SourceManifest.xml
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.AssemblyInfo.cs
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.AssemblyInfoInputs.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.assets.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.csproj.CoreCompileInputs.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.csproj.FileListAbsolute.txt
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.csprojAssemblyReference.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.dll
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.genruntimeconfig.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.MvcApplicationPartsAssemblyInfo.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.pdb
SOFA API/SOFA API/obj/Release/netcoreapp3.1/SOFA API.RazorTargetAssemblyInfo.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/staticwebassets/SOFA API.StaticWebAssets.Manifest.cache
SOFA API/SOFA API/obj/Release/netcoreapp3.1/staticwebassets/SOFA API.StaticWebAssets.xml
SOFA API/SOFA API/obj/SOFA API.csproj.EntityFrameworkCore.targets
SOFA API/SOFA API/obj/SOFA API.csproj.nuget.dgspec.json
SOFA API/SOFA API/obj/SOFA API.csproj.nuget.g.props
SOFA API/SOFA API/Properties/PublishProfiles/IISProfile.pubxml
SOFA API/SOFA API/Properties/PublishProfiles/IISProfile.pubxml.user
SOFA API/SOFA API/SOFA API.csproj
SOFA API/SOFA API/SOFA API.csproj.user
SOFA API/.vs/SOFA API/v16/.suo
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.AssemblyInfo.cs
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.AssemblyInfoInputs.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.assets.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.csprojAssemblyReference.cache
SOFA API/SOFA API/obj/project.assets.json
SOFA API/SOFA API/obj/project.nuget.cache
SOFA API/SOFA API/obj/SOFA API.csproj.nuget.dgspec.json
SOFA API/SOFA API/obj/SOFA API.csproj.nuget.g.props
SOFA API/SOFA API/SOFA API.csproj
SOFA API/.vs/SOFA API/v16/.suo
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.assets.cache
SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.csprojAssemblyReference.cache
2. Source Code/Demo/TestJWT API/TestJWT/bin/
2. Source Code/Demo/TestJWT API/TestJWT/obj/
2. Source Code/Demo/TestJWT API/.vs/TestJWT/v16/.suo
2. Source Code/Demo/TestJWT API/TestJWT/obj/Release/netcoreapp3.1/PubTmp/TestJWT.Parameters.xml
2. Source Code/Demo/TestJWT API/TestJWT/obj/Release/netcoreapp3.1/PubTmp/TestJWT.SourceManifest.xml
2. Source Code/Demo/TestJWT API/TestJWT/obj/Release/netcoreapp3.1/TestJWT.assets.cache
2. Source Code/Demo/TestJWT API/TestJWT/obj/Release/netcoreapp3.1/TestJWT.csproj.FileListAbsolute.txt
2. Source Code/Demo/TestJWT API/TestJWT/obj/Release/netcoreapp3.1/TestJWT.csprojAssemblyReference.cache
2. Source Code/Demo/TestJWT API/TestJWT/obj/Release/netcoreapp3.1/TestJWT.genruntimeconfig.cache
2. Source Code/SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.assets.cache
2. Source Code/SOFA API/SOFA API/obj/Debug/netcoreapp3.1/SOFA API.csprojAssemblyReference.cache
2. Source Code/SOFA API/SOFA API/obj/project.assets.json
2. Source Code/SOFA API/SOFA API/obj/project.nuget.cache
2. Source Code/SOFA API/SOFA API/obj/SOFA API.csproj.nuget.dgspec.json
2. Source Code/SOFA API/SOFA API/obj/SOFA API.csproj.nuget.g.props
2. Source Code/SOFA API/SOFA API/obj/
2. Source Code/SOFA API/SOFA API/bin/
2. Source Code/SOFA API/.vs
2. Source Code/Demo/TestJWT API/TestJWT/obj/
2. Source Code/Demo/TestJWT API/TestJWT/bin/
2. Source Code/Demo/TestJWT API/.vs/
2. Source Code/.vscode/