<div *ngIf="!isDeletedPost" style="padding-top: 100px;">
    <div class="container" style="background-color: white; padding: 30px;">
        <div class="row">
            <div class="col-6" style="padding-right: 50px;">
                <p>Posted by: <a [routerLink]="['/user-detail', postDetail.accountPost]">{{postDetail.postedBy}}</a> -
                    Date: {{postDetail.dateCreated | date: 'MMM d, y, h:mm:ss a'}}</p>
                <h5>"{{postDetail.content}}"</h5>
                <br><br>
                <h6 style="font-style: italic;opacity: 0.5;">Total like: {{postDetail.totalLike}}</h6>
                <h6 style="font-style: italic;opacity: 0.5;">Average rate: {{postDetail.rateAverage}}</h6>

            </div>
            <div class="col-6">
                <button style="width: 100px; margin-left: 420px; margin-bottom: 10px;" type="button" class="btn btn-danger"
                    (click)="onClickDelete()">Delete</button> 
                <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
                    [imageSize]="{width: 300, height: 400}" slideImage="1"></ng-image-slider>
            </div>
        </div>
        <div *ngIf="this.postDetail.listComment.length > 0" class="card" style="margin-top: 30px;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Comment</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let comment of postDetail.listComment | paginate: { id: 'foo',
                            itemsPerPage: 10,
                            currentPage: page,
                            totalItems: totalRecord }">
                                <td><a [routerLink]="['/user-detail', comment.accountID]">
                                        {{comment.firstName + ' ' + comment.lastName}}
                                    </a></td>
                                <th>{{comment.content}}</th>
                                <td>{{comment.time | date: 'MMM d, y, h:mm:ss a'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="this.postDetail.listComment.length > 0" style="text-align:center">
            <pagination-controls class="justify-content-center" id="foo" (pageChange)="page = $event" maxSize="5"
                directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
        <hr style="margin-top: 100px;font-style: italic;">
        <div *ngIf="postDetail.listComment.length == 0" style="font-style: italic;">
            <p>No comment for this post</p>
        </div>
    </div>

</div>
<div *ngIf="isDeletedPost" style="padding-top: 100px; text-align: center;">
    <h3>This post has been deleted</h3>
</div>