<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SOFA</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>20db.otf</string>
		<string>Airstream.ttf</string>
		<string>Antique Book Cover.otf</string>
		<string>Atziluth Script.ttf</string>
		<string>Azkia.otf</string>
		<string>BeachmanScript.ttf</string>
		<string>Beastmachine.ttf</string>
		<string>Beyond Infinity - Demo_0.ttf</string>
		<string>Budaphest Swash.otf</string>
		<string>Budaphest.otf</string>
		<string>Bungalow.ttf</string>
		<string>BUNGALOWSAN.ttf</string>
		<string>Crawley+Demo.ttf</string>
		<string>Death Before Chocolate Personal Use.ttf</string>
		<string>DEFTONE.ttf</string>
		<string>Dopestyle.ttf</string>
		<string>EthonsStyles.ttf</string>
		<string>fazlodia.ttf</string>
		<string>Flottflott.ttf</string>
		<string>Fractis Alt.ttf</string>
		<string>Gladifilthefte.ttf</string>
		<string>Glowist.otf</string>
		<string>HAMBH___0.ttf</string>
		<string>HeraldTypeface-Regular.otf</string>
		<string>Herrmes.ttf</string>
		<string>High Tide - Demo_0.ttf</string>
		<string>Just Sunday Demo.ttf</string>
		<string>LetterPress_Condensed.ttf</string>
		<string>Letterpress_Gothic_0.ttf</string>
		<string>Letterpress_Wood.ttf</string>
		<string>LetterpressClean_Script_Bold.ttf</string>
		<string>LetterpressClean_Wood.ttf</string>
		<string>LetterpressScript_Bold.ttf</string>
		<string>LetterpressScript.ttf</string>
		<string>Lunar Alchemy Regular.otf</string>
		<string>Madame Cosmetics.ttf</string>
		<string>Market_Deco.ttf</string>
		<string>Matsury Demo.ttf</string>
		<string>Matthew.otf</string>
		<string>Messy Script.otf</string>
		<string>Mind Blowing Bold.ttf</string>
		<string>Mind Blowing light.ttf</string>
		<string>Northwell-Alt.ttf</string>
		<string>Northwell-Swash.ttf</string>
		<string>Northwell.ttf</string>
		<string>Old Djakarta.otf</string>
		<string>PalmCanyonDrive-Trial.otf</string>
		<string>Quartila.ttf</string>
		<string>Rockstar-Regular.otf</string>
		<string>Rockstaralt.-Regular.otf</string>
		<string>RockstarDisplay-Regular.otf</string>
		<string>Rockstarswashes-Regular_0.otf</string>
		<string>RolleteQakuVector-Regular.ttf</string>
		<string>Sailors Slant.otf</string>
		<string>sharpeye.ttf</string>
		<string>Signature of the Ancient.ttf</string>
		<string>Special Request - Demo.ttf</string>
		<string>Streetwear.otf</string>
		<string>Taken by Vultures Alternates Demo.otf</string>
		<string>Taken by Vultures Demo.otf</string>
		<string>TheQueenthine.ttf</string>
		<string>Vacations in Phuket_0.ttf</string>
		<string>VL_Kathya Script_1.otf</string>
		<string>VTKS RECOVER MB 1.ttf</string>
		<string>Welliams.ttf</string>
		<string>Whestley.ttf</string>
		<string>Zacatecas1914-demo-font-ffp.otf</string>
		<string>AlphaRuler-bold.otf</string>
		<string>AlphaRuler.otf</string>
		<string>Andes.ttf</string>
		<string>ARB 85 Poster Script JAN-39 FRE.otf</string>
		<string>ARB 85 Poster Script JAN-39 FRE.ttf</string>
		<string>ballpark_weiner.ttf</string>
		<string>Bazar.ttf</string>
		<string>Bellerose.ttf</string>
		<string>BLUEPSS_.TTF</string>
		<string>Campanile.ttf</string>
		<string>Carnevalee Freakshow Demo.ttf</string>
		<string>Carnevalee Freakshow.ttf</string>
		<string>CHI-TOWN.TTF</string>
		<string>CircusOrnate.ttf</string>
		<string>Classique-Saigon.ttf</string>
		<string>DAYPBL__.ttf</string>
		<string>Diner-Fatt.ttf</string>
		<string>Diner-Obese.ttf</string>
		<string>Diner-Regular.ttf</string>
		<string>Diner-Skinny.ttf</string>
		<string>DymaxionScript.ttf</string>
		<string>EastMarket.ttf</string>
		<string>EchoDeco.ttf</string>
		<string>fletcher.ttf</string>
		<string>FORTSSH_.ttf</string>
		<string>HAMBH___.ttf</string>
		<string>Kelvinized.ttf</string>
		<string>Lemniscate_1_03.ttf</string>
		<string>Louisianne.ttf</string>
		<string>LouisianneContour-Black.ttf</string>
		<string>LouisianneShadow-Black.ttf</string>
		<string>MAILR___.otf</string>
		<string>MAILR___.TTF</string>
		<string>MARCS___.ttf</string>
		<string>Marcsc___.ttf</string>
		<string>minotaur.ttf</string>
		<string>MINSPSW_.ttf</string>
		<string>NASHVILL.TTF</string>
		<string>Nougat-ExtraBlack.ttf</string>
		<string>Parisian.ttf</string>
		<string>riesling.ttf</string>
		<string>Sandwich.ttf</string>
		<string>sayitfat.otf</string>
		<string>SEASRN__.ttf</string>
		<string>Secesja.ttf</string>
		<string>Sesame-Shadow.ttf</string>
		<string>Sesame.ttf</string>
		<string>Showboat.ttf</string>
		<string>SSGrogy-CondensedBold.otf</string>
		<string>SSGrogy-CondensedBold.ttf</string>
		<string>SSGrogy-CondensedBoldItalic.otf</string>
		<string>SSGrogy-CondensedBoldItalic.ttf</string>
		<string>staravenue.ttf</string>
		<string>STONIN__.TTF</string>
		<string>Studebaker.ttf</string>
		<string>TALLDECO.TTF</string>
		<string>Titania-Outline.ttf</string>
		<string>Titania-Regular.ttf</string>
		<string>Titania-Shadow.ttf</string>
		<string>topsh___.ttf</string>
		<string>topso___.ttf</string>
		<string>topspeed.TTF</string>
		<string>Varsity.ttf</string>
		<string>whiterabbit.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SFMonoHeavy.otf</string>
		<string>SFMonoHeavyItalic.otf</string>
		<string>SFMonoLight.otf</string>
		<string>SFMonoLightItalic.otf</string>
		<string>SFMonoMedium.otf</string>
		<string>SFMonoMediumItalic.otf</string>
		<string>SFMonoRegular.otf</string>
		<string>SFMonoRegularItalic.otf</string>
		<string>SFMonoSemibold.otf</string>
		<string>SFMonoSemiboldItalic.otf</string>
		<string>SFProRegular.ttf</string>
		<string>SanFranciscoDisplay-Black.otf</string>
		<string>SanFranciscoDisplay-Bold.otf</string>
		<string>SanFranciscoDisplay-Heavy.otf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoDisplay-Medium.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Semibold.otf</string>
		<string>SanFranciscoDisplay-Thin.otf</string>
		<string>SanFranciscoDisplay-Ultralight.otf</string>
		<string>SanFranciscoText-Bold.otf</string>
		<string>SanFranciscoText-BoldG1.otf</string>
		<string>SanFranciscoText-BoldG2.otf</string>
		<string>SanFranciscoText-BoldG3.otf</string>
		<string>SanFranciscoText-BoldItalic.otf</string>
		<string>SanFranciscoText-BoldItalicG1.otf</string>
		<string>SanFranciscoText-BoldItalicG2.otf</string>
		<string>SanFranciscoText-BoldItalicG3.otf</string>
		<string>SanFranciscoText-Heavy.otf</string>
		<string>SanFranciscoText-HeavyItalic.otf</string>
		<string>SanFranciscoText-Italic.otf</string>
		<string>SanFranciscoText-ItalicG1.otf</string>
		<string>SanFranciscoText-ItalicG2.otf</string>
		<string>SanFranciscoText-ItalicG3.otf</string>
		<string>SanFranciscoText-Light.otf</string>
		<string>SanFranciscoText-LightItalic.otf</string>
		<string>SanFranciscoText-Medium.otf</string>
		<string>SanFranciscoText-MediumItalic.otf</string>
		<string>SanFranciscoText-Regular.otf</string>
		<string>SanFranciscoText-RegularG1.otf</string>
		<string>SanFranciscoText-RegularG2.otf</string>
		<string>SanFranciscoText-RegularG3.otf</string>
		<string>SanFranciscoText-Semibold.otf</string>
		<string>SanFranciscoText-SemiboldItalic.otf</string>
		<string>SanFranciscoText-Thin.otf</string>
		<string>SanFranciscoText-ThinItalic.otf</string>
	</array>
</dict>
</plist>
