<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb" style="background-color: #fff;">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active">dashboard</li>
  </ul>
</div>
<div class="row" style="margin-left: 100px; margin-top: 50px; color:#383635;">
  <div class="col-3">
    <h4><fa-icon [icon]="faCircle" style="color:#02bf05;"></fa-icon> {{this.online.listActiveAccount.length}} Online </h4>
  </div>
  <div class="col-3">
    <h4><fa-icon [icon]="faCircle" style="color:grey;"></fa-icon> {{dashboardInfo.totalUser - this.online.listActiveAccount.length}} Offline </h4>
  </div>
</div>
<div class="row" style="margin-top: 50px; margin-left: 50px;margin-right: 50px;">
  <!-- <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <app-line-chart></app-line-chart>
          </div>
          <hr>
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
        </div>
        <div class="card-body">
          <div class="chart-bar">
            <app-bar-chart></app-bar-chart>
          </div>
          <hr>
        </div>
      </div>
    </div> -->

  <!-- Donut Chart -->
  <div class="col-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">{{dashboardInfo.totalUser}} Users</h5>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <div class="chart-wrapper">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
        <hr>
      </div>
    </div>

  </div>
  <div class="col-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">{{dashboardInfo.totalPost}} Posts</h5>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4">
          <div class="chart-wrapper">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- End of Main Content -->