<div class="row" style="margin-top: 50px;">
    <div class="col-4"></div>
    <div class="col-4" style="background-color: white;">
      <div class="row" style="padding: 50px 50px 70px 50px;">
        <div class="col-2"></div>
        <div class="col-8" style="opacity: 0.8;">
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p id="profile-name" class="profile-name-card"></p>
          <h5 style="padding-top: 10px;">
            Username: {{user.userName}}
          </h5>
          <h5 style="padding-top: 10px;">
            <p>Fullname: </p> {{user.firstName + ' ' + user.lastName}}
          </h5>
          <h5 style="padding-top: 10px;">`
            Joined: {{user.dateCreated | date}}
          </h5>
          <h5 style="padding-top: 10px;">
            Role: {{user.roleName}}
          </h5>
          <div *ngIf="isChangePassword" class="form-group" style="padding-top: 30px;">
            <label for="password">Old password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="oldPassword" (change)="invalid=false"
              required />
          </div>
          <div *ngIf="isChangePassword" class="form-group">
            <label for="password">New password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="newPassword" (change)="invalid=false"
              required />
          </div>
          <div *ngIf="isChangePassword" class="form-group">
            <label for="rePassword">Confirm new password</label>
            <input type="password" class="form-control" id="rePassword" [(ngModel)]="cfNewPassword"
              (change)="invalid=false" required />
            <div style="color: red;" *ngIf="invalid" class="help-block">{{errorMessage}}</div>
          </div>
          <div *ngIf="isChangePassword" class="form-group" style="display: inline-block;">
                <button style="width: 100px; display: inline-block;" type="button" class="btn btn-warning" (click)="onClickCancel()">Cancel</button>
                <button style="width: 100px; display: inline-block; margin-left: 80px;" type="button" class="btn btn-success" (click)="onClickChange()">Save</button>
          </div>
          <button *ngIf="!isChangePassword" style="margin-top: 30px;" class="btn btn-success btn-block" (click)="changePassword()">Change</button>
        </div><!-- /card-container -->
      </div>
    </div>
  </div><!-- /container -->